.form-input {
	font-family: inherit;
}

input.form-input, textarea.form-input {
	border: none;
	padding: 1rem;
	outline: 1.25px solid #efefef;
	width: 100%;
	box-sizing: border-box;
	border-radius: .3em;
}

textarea.form-input {
	resize: vertical;
}

.form-input:focus {
	outline: 2px solid #333333;
}