.card-content {
    display: flex;
    align-items: center;
}

.card-product {
    display: flex;
    flex-direction: column;
}

.d-block { display: block; }

.row {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    width: fit-content;
    border: 0;
    padding: .48rem .72rem;
    border-radius: 5px;
}

.btn-green {
    background-color: #00b954;
    color: #ffffff;
}

.card-act {
    position: absolute;
    right: .2em;
    top: .2em;
}

.card-product-wraper {
    position: relative;
}

.card-content img {
    width: 142px !important;
    height: 120px;
    background: #999;
    border-radius: 7px;
    margin-right: 1rem;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, .12);
}

.fs-14pt {
    font-size: 14pt !important;
}

.flex-align-center {
    align-items: center;
}

p, h4 {
    margin: 0 !important;
}

.d-none { display: none; }

.d-flex { display: flex; }


.flex-column-center {
    flex-direction: column;
    align-items: center;
}

.text-center {
    text-align: center;
}

.card-info p {
    font-size: 14px;
}

.text-muted {
    color: #888;
}

.mb-1 {
    margin-bottom: .25rem !important;
}

.me-4 {
    margin-right: 1rem !important;
}

.mb-2 {
    margin-bottom: .5rem !important;
}

.mb-4 {
    margin-bottom: 1rem !important;
}

.mx-4 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.ms-auto {
    margin-left: auto !important;
}

.cart-item img {
    width: 100px;
    height: 100px;
}

.ps-2 {
    padding-left: .5rem !important;
}

.akun-img {
    width: 98px;
    height: 98px;
    background: #fff;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 7px rgba(0, 0, 0, .10);
}

.img-detail {
    width: 100%;
    max-height: 360px;
    object-fit: cover;
    border-radius: 7px;
}

.w-100 { width: 100% !important; }